*,
*:before,
*:after {
  /* border: 0; */
  /* margin: 0; */
  /* padding: 0; */
  /* box-sizing: border-box; */
  /* outline: 0; */
  /* -webkit-user-select: none; */
  -moz-user-select: none;
  -ms-user-select: none;
  /* user-select: none; */
}

body {
  background-color: #ecf0f1;
}

.debug {
  color: #9b59b6;
  font-family: monospace;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 100;
  font-size: 3vw;
}

.circle {
  background-color: #a9aeaf;
  border-radius: 50%;
  width: 90px;
  height: 0;
  padding-bottom: 90px;
  margin: 0 50%;
  margin-top: 40px;
  transform: translate3d(-50%, -50%, 0);
}

.circle:before {
  content: "";
  position: absolute;
  width: 90%;
  height: 90%;
  background-color: #ecf0f1;
  border-radius: 50%;
  top: 5%;
  left: 5%;
}

.circle .dot {
  position: absolute;
  width: 10%;
  height: 50%;
  left: 47.5%;
  top: 0;
  transform: rotate(0deg);
  transform-origin: center bottom;
  box-shadow: none;
}

.circle .dot:before {
  content: "";
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 10px #000;
  width: 200%;
  transform: translate3d(-25%, -25%, 0);
  height: 0;
  padding-bottom: 200%;
  border-radius: 50%;
  cursor: pointer;
}