@import url('https://fonts.googleapis.com/css2?family=Alata&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

html, body {
    padding: 0;
    margin: 0;
    background-color: rgb(246, 246, 246);
}

header {
    padding: 0 15px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 64px;
    background: white;
    border-bottom: 1px solid rgb(222 222 222);
    box-shadow: 0 2px 10px rgba(0,0,0,.05);
    position: fixed;
    width: -webkit-fill-available;
    width: -moz-available;
    top: 0;
    z-index: 2;
    user-select: none;
}
header h3 {
    padding: 0;
    margin: 0;
    background: linear-gradient(229deg, #ff08d3, #1babff 70%, #ff00d9);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Alata', system-ui;
    font-weight: 500;
    font-size: 20px;
}
header h3 f {
    font-family: 'Roboto Slab', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    font-style: normal;
    margin-right: 5px;
}
header img {
    padding: 0;
    margin: 0px 0px 0px 12px;
    height: 23%;
    width: auto;
    opacity: 0.3;
    position: absolute;
    right: 15px;
    bottom: 40%;
}

.centered__cont_palettes {
    width: -webkit-fill-available;
    width: -moz-available;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    transition: opacity .4s;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
.container__palettes {
    padding: 30px;
    margin: 0;
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    row-gap: 20px;
    column-gap: 20px;
    width: fit-content;
}
.container__palettes .item__css_gradient {
    padding: 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 3px 31px rgba(0,0,0,.04);
    transition: transform .2s, box-shadow .2s;
    column-gap: 12px;
    row-gap: 12px;
}
.container__palettes .item__css_gradient:hover {
    transform: translateY(-6px);
    box-shadow: 0 6px 50px rgba(0,0,0,.1);
}
.container__palettes .item__css_gradient .gradinet_container {
    padding: 0;
    margin: 0;
    width: 170px;
    height: 200px;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}

.used__colors {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Roboto Mono', system-ui;
    font-weight: 400;
    font-size: 14px;
    cursor: text;
    text-transform: uppercase;
}

.item__css_gradient:hover .item__action_menu {
    visibility: visible;
    opacity: 1;
    transform: translateY(0%);
}
.item__action_menu {
    padding: 8px 8px;
    margin: 0;
    position: absolute;
    bottom: 0;
    width: -webkit-fill-available;
    width: -moz-available;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    visibility: hidden;
    opacity: 0;
    transform: translateY(100%);
    transition: transform .2s, opacity .2s;
    list-style: none;
    row-gap: 5px;
    column-gap: 5px;
}
.item__action_menu .item {
    padding: 0;
    margin: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px 18px;
    opacity: .8;
    background-color: black;
    border-radius: 2px;
}
.item__action_menu .item:hover {
    opacity: 1;
}
.item__action_menu .item.copy {
    background-image: url('copy.svg?v=2');
}
.item__action_menu .item.copy_code {
    background-image: url('copy_code.svg');
}
.item__action_menu .item.palette {
    background-image: url('palette_white.svg');
}

button.action__fab {
    padding: 20px;
    margin: 20px;
    position: fixed;
    bottom: 0;
    right: 0;
    cursor: pointer;
    border: none;
    border-radius: 100%;
    box-shadow: 0 2px 10px rgba(0,0,0,.1);
    transition: transform .2s;
    background: white;
    border: 1px solid #d0d0d0;
    z-index: 1;
}
button.action__fab:hover {
    transform: translateY(-4px);
}
i.ico {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 24px;
    padding: 0;
    margin: 0;
    width: 24px;
    display: flex;
    height: 24px;
}
i.ico.palette {
    background-image: url('palette.svg');
}

.container__palette_gen {
    width: 500px;
    padding: 20px;
    margin: 0;
    max-width: -webkit-fill-available;
    max-width: -moz-available;
    display: flex;
    row-gap: 20px;
    flex-direction: column;
    column-gap: 20px;
}
.container__palette_result {
    width: 100%;
    height: 250px;
    background: linear-gradient(0deg, #8f8f8f, #d4d4d4);
    border-radius: 8px;
}

.container__inputs {
    padding: 0;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    row-gap: 10px;
}
/* .container__inputs button#action_add__color {
    padding: 0 10px;
    margin: 0px;
    cursor: pointer;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #144f91;
    background: #0079ff;
    font-family: 'Alata', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 14px;
    box-shadow: 0 4px 0 rgb(0 83 175);
} */
.container__inputs ol {
    padding: 0;
    display: flex;
    width: 100%;
    column-gap: 10px;
    row-gap: 10px;
    flex-direction: column;
    list-style: none;
    margin: 0;
}
.container__inputs ol input[type="color"] {
    width: -webkit-fill-available;
    width: -moz-available;
    border-radius: 8px;
    padding: 10px 10px;
    height: 46px;
    border: 1px solid #cecece;
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,.05);
    cursor: pointer;
}

.text__result_css {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 13px;
}

.split__lb_inpt {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}
.split__lb_inpt label {
    padding: 0;
    margin: 0px 0px 0px 8px;
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: gray;
}
.split__lb_inpt input[type="number"] {
    padding: 0 10px;
    margin: 0;
    border: 1px solid #cecece;
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,.05);
    cursor: text;
    border-radius: 8px;
    height: 40px;
    font-family: 'Roboto Mono', monospace;
}

.palette__choise {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 46px;
}
.palette__choise .procent {
    width: 60px;
    height: 100%;
    padding: 0 10px;
    margin: 0;
    border: 1px solid #cecece;
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,.05);
    cursor: text;
    border-radius: 8px;
    font-family: 'Roboto Mono', monospace;
    margin-left: 10px;
}
.palette__choise i.action {
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 24px;
    width: 46px;
    height: 100%;
    cursor: pointer;
    opacity: .5;
}
.palette__choise i.action:hover {
    opacity: 1;
}
.palette__choise i.action.remove {
    background-image: url('remove.svg');
}
.palette__choise i.action.menu_burger {
    background-image: url('menu_burger.svg');
}
.palette__choise i.action.vertical_scroll {
    background-image: url('vertical_scroll.svg');
}

.tabs_selected {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #cecece;
    background: #ebebeb;
    box-shadow: 0 3px 10px rgba(0,0,0,.05);
    overflow: hidden;
}
.tabs_selected li {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: 'Roboto Mono';
    font-weight: 400;
    font-size: 14px;
    overflow: hidden;
    transition: background .2s;
}
.tabs_selected li.active {
    background: white;
}

/* CSS */
.button-10 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6px 14px;
    font-family: 'Roboto Mono', -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    border: none;
    color: #fff;
    height: 40px;
    background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
    background-origin: border-box;
    box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    cursor: pointer;
}

.button-10:focus {
    box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
}

footer {
    padding: 0 20%;
    margin: 0;
    position: sticky;
    min-height: 50px;
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}
footer h3 {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    line-height: 22px;
}
footer h3 a {
    color: #5b4397;
}

@media (max-width: 1300px) {
    .container__palettes {
        grid-template-columns: auto auto auto auto auto;
    }
}
@media (max-width: 1100px) {
    .container__palettes {
        grid-template-columns: auto auto auto auto;
    }
}
@media (max-width: 980px) {
    .item__action_menu {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }
}
@media (max-width: 900px) {
    .container__palettes {
        grid-template-columns: auto auto auto;
    }
}
@media (max-width: 700px) {
    .container__palettes {
        grid-template-columns: auto auto;
    }
}
@media (max-width: 480px) {
    .container__palettes {
        grid-template-columns: auto;
    }
}